@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.6; }


header .navbar-light .navbar-nav li .nav-link, .btn-custom {
  font-size: 16px;
  font-weight: 400;
  border-radius: 30px;
  padding: 6px 20px;
  letter-spacing: 1px; }

header .navbar-light .navbar-nav li .nav-link, .btn-custom, .feature-section .feature:hover {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

header {
  background-color: #F0FFF0; }
  header .navbar-brand img {
    max-width: 250px; }
  header .navbar-light .navbar-nav li {
    margin: 2px; }
    header .navbar-light .navbar-nav li .nav-link {
      color: #413960 !important; }
      header .navbar-light .navbar-nav li .nav-link:hover {
        background-color: #21B573 !important;
        color: #fff !important; }
    header .navbar-light .navbar-nav li:last-child a {
      background-color: #21B573 !important;
      color: #fff !important; }
  header .banner-section {
    border-bottom: 2px solid transparent; }
    header .banner-section h4 {
      color: red; }
    header .banner-section h1 {
      font-size: 50px;
      font-weight: bold;
      padding: 0px 0px;
      color: #413960 !important;
      line-height: 1.5; }
      header .banner-section h1 span {
        color: #21B573 !important; }
    header .banner-section p {
      margin: 20px 0px;
      color: #00000099;
      font-size: 18px;
      line-height: 1.8; }
    header .banner-section img {
      max-width: 100%; }

.sticky-wrapper nav {
  transition : all 0.3s ease;
}
.sticky-wrapper.is-sticky nav {
    background: #21B573;
    z-index: 1000 !important;
}

.navbar-light .navbar-nav .nav-link.active{
    background: #774bfb;
    color: #fff !important;
}

.btn-custom {
  background-color: #21B573 !important;
  color: #fff !important;
  border: 2px solid #21B573 !important;
  margin-top: 5px; }
  .btn-custom:hover {
    background-color: #fff !important;
    color: #21B573 !important;
    border: 2px solid #21B573 !important; }

.feature-section .feature {
  text-align: center;
  padding: 30px;
  display: block;
  background-color: #F0FFF0;
  border: 2px solid transparent;
  height: 300px; }
  .feature-section .feature img {
    max-width: 50%;
    height: 100px; }
  .feature-section .feature h2 {
    font-weight: 500;
    font-size: 22px;
    padding-top: 40px;
    color: #413960 !important; }
  .feature-section .feature p {
    color: #00000099;
    font-size: 18px; }
  .feature-section .feature:hover {
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 10px #00000012; }

.course-section h1 {
  text-align: center;
  color: #413960 !important;
  padding-bottom: 50px; }
.course-section .course {
  padding: 25px 20px;
  box-shadow: 0px 0px 15px 10px #00000012;
  border: 0px;
  border-radius: 12px; }
  .course-section .course .header-img img {
    width: 100%; }
  .course-section .course .card-body h5 {
    font-size: 25px;
    color: #413960 !important; }
  .course-section .course .card-body p {
    color: #00000099;
    font-size: 18px; }
  .course-section .course .card-body ul {
    margin-top: 30px;
    align-items: center; }
    .course-section .course .card-body ul li img {
      width: 20px; }
    .course-section .course .card-body ul li span {
      font-weight: 500;
      color: #585859;
      font-size: 14px; }

.testimonial-section {
  margin: 50px 0px; }
  .testimonial-section .header h1 {
    text-align: center;
    color: #413960 !important;
    padding-bottom: 20px; }
  .testimonial-section img {
    width: 100%;
    border: 5px solid #21B573 !important;
    border-radius: 200px; }
  .testimonial-section p {
    color: #00000099;
    font-size: 18px; }

.gallery-section {
  /*background: wheat;*/
  
}
.gallery-section .header h1 {
    text-align: center;
    color: #413960 !important;
    padding-bottom: 50px;
}

footer {
  background-image: url(../images/footer.jpg);
  background-color: #2c2644 !important;
  color: #fff;
  font-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
  background-size: cover;
  border-top: 8px solid #21B573 !important; }
  footer h5 {
    font-weight: 600; }
  footer .copyright {
    text-align: center;
    font-size: 18px;
    padding-top: 50px; }
    footer .copyright a {
      color: #21B573 !important;
      text-decoration: none; }
      footer .copyright a:hover {
        color: #fff !important; }

@media (max-width: 575px) {
  .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style: none;
    align-items: center; }

  header .banner-section h1 {
    font-size: 40px; }

  header .banner-section img {
    padding-top: 30px; }

  header .banner-section {
    text-align: center; }

  .testimonial-section img {
    margin: 30px 0px; }

  .testimonial-section p {
    font-size: 15px;
    text-align: center; }

  .testimonial-section {
    margin: 0px 0px; }


  footer {
    text-align: center; }

  footer .header {
    margin: auto; }

  footer .col-4 {
    width: 100%;
    padding: 0px;
    font-weight: 200;
    font-size: 14px;
    margin-bottom: 0px; } }

/*# sourceMappingURL=style.css.map */
